#=======BACKEND DATABASE=======
BACKEND_DATABASE_NAME=...
BACKEND_DATABASE_USER=...
BACKEND_DATABASE_PASSWORD=...
BACKEND_DATABASE_HOST=...
BACKEND_DATABASE_PORT=...

#===========BACKEND============
# Django
BACKEND_DJANGO_SECRET_KEY=...
BACKEND_DJANGO_DEBUG=...
BACKEND_DJANGO_ALLOWED_HOSTS=...

# Django superuser
BACKEND_DJANGO_SUPERUSER_EMAIL=...
BACKEND_DJANGO_SUPERUSER_PASSWORD=...

# CORS/CSRF
BACKEND_CORS_ALLOWED_ORIGINS=...
BACKEND_CSRF_TRUSTED_ORIGINS=...
BACKEND_CORS_ALLOW_CREDENTIALS=...

# JWT
BACKEND_JWT_ACCESS_MINUTES=...
BACKEND_JWT_REFRESH_DAYS=...
BACKEND_JWT_ROTATE_REFRESH=...
BACKEND_JWT_BLACKLIST_AFTER_ROTATION=...

# Telegram
BACKEND_TELEGRAM_BOT_TOKEN=...
BACKEND_TELEGRAM_BOT_USERNAME=...
BACKEND_TELEGRAM_BOT_SERVICE_TOKEN=...

# Debug toolbar
BACKEND_TOOLBAR_INTERNAL_IPS=...

#===========FRONTEND===========
FRONTEND_VITE_API_URL=...

#=======TG BOT DATABASE========
TG_BOT_DATABASE_URL=...

#============TG BOT============
# Telegram-bot
TG_BOT_TOKEN=...
TG_BOT_SERVICE_TOKEN=...

# Support-info
TG_BOT_SUPPORT_EMAIL=...
TG_BOT_SUPPORT_TELEGRAM=...

# Backend
TG_BOT_BACKEND_URL=...
