# Django
SECRET_KEY='Your_secret_key'
DEBUG=True
ALLOWED_HOSTS=allowed,host

# Django superuser
DJANGO_SUPERUSER_EMAIL=admin@mail.com
DJANGO_SUPERUSER_PASSWORD=adminadmin

# Database
DATABASE_NAME=db_name
DATABASE_USER=db_user
DATABASE_PASSWORD=db_pass
DATABASE_HOST=db_host
DATABASE_PORT=db_port

# CORS/CSRF
CORS_ALLOWED_ORIGINS=cors,allowed,origins
CSRF_TRUSTED_ORIGINS=cors,trusted,origins
CORS_ALLOW_CREDENTIALS=True

# JWT
JWT_ACCESS_MINUTES=180
JWT_REFRESH_DAYS=7
JWT_ROTATE_REFRESH=True
JWT_BLACKLIST_AFTER_ROTATION=True

# Telegram
TELEGRAM_BOT_TOKEN='Your_telegram_bot_token'
TELEGRAM_BOT_USERNAME=Your_telegram_bot_username
BOT_SERVICE_TOKEN='Your_bot_service_token'

# Debug toolbar
INTERNAL_IPS=127.0.0.1