# Telegram-bot
BOT_TOKEN='Your_bot_token'
BOT_SERVICE_TOKEN='Your_bot_service_token'

# Database
DATABASE_URL='engine://user:pass@host:port/name'

# Support-info
SUPPORT_EMAIL='Your_support_email'
SUPPORT_TELEGRAM='Your_support_telegram'

# Backend
BACKEND_URL='http://host:port'
